<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <meta charset="utf-8">
		<meta name="author" content="Donghee Jeong">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/github-markdown.css">
  </head>

  <style>
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }
    @media (max-width: 767px) {
      .markdown-body {
	padding: 15px;
      }
    }
  </style>

  <article class="markdown-body">

		<h1>$title$</h1>

		<p style="text-align:right"><i><small>$if(date)$Date: $date$$endif$$if(category)$, Category: <a href="/$category$">$category$</a>$endif$</small></i></p>

    $body$

  </article>
  <p class="credit markdown-body">
	  <small>This website uses <a href="https://github.com/hyrious/github-markdown-css">hyrious/github-markdown-css</a> stylesheet.</small><br>
		<small>Site build commit: <a href="$commit_url$">$commit_sha$</a></small><br>
		<small><a href="/">Go to Home</a></small><br>
	</p>

</html>
